<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/favicon.ico">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="background">
  <div class="container">
    {{include './components/nav.html'}}
    <img src="/img/shot.png">
    <section>
      {{include './components/good.html'}}
      {{include './components/cart.html'}}
      {{include './components/order.html'}}
      {{include './components/success.html'}}
    </section>  
  </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/order.js"></script>
<script src="/js/index.js"></script>
</body>
</html>