<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>kekedrinks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="background">
    <div class="main">
      <form id="login_form">
        <div class="form-group">
          <label for="tel"></label>
          <input type="tel" class="form-control" id="tel" name="tel" placeholder="Telephone" autofocus>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success btn-block">Sign in</button>
      </form>
      <div class="message">
        <p>Not have account?<a href="/register">Sign up</a>.</p>
      </div>
    </div>
  </div>
  <script src="/js/jquery.js"></script>
  <script>
    $('#login_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      $.ajax({
        url: '/login',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.err_code
          if (err_code === 0) {
            window.location.href = '/'
          } else if (err_code === 1) {
            window.alert('手机号或者密码错误')
          } else if (err_code === 500) {
            window.alert('服务器忙，请稍后重试！')
          }
        }
      })
    })
  </script>
</body>
</html>